<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.drivingschool.mapper.PassSubjectMapper">


    <update id="update">

        UPDATE pass_subjects
        SET
            subject_one = #{subjectOne},
            subject_two = #{subjectTwo},
            subject_three = #{subjectThree},
            subject_four = #{subjectFour}
        WHERE user_id = #{userId}
    </update>
</mapper>